.moderator {
  border: 2px $button-primary-color solid;
  border-radius: 5px;

  $padding: 1em;

  &-body {
    padding: $padding;

    .text {
      font-size: 1.35em;
      margin: .25em 0;
    }
  }

  &-footer {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    padding: $padding / 2 $padding;
    background: $button-primary-color;
    color: white;

    .metadata {
      display: block;
      color: #D8D8D8;
    }
  }

  .action-buttons .button {
    margin: 0 .5em;
    color: white;
    border-color: white;

    &:last-child {
      margin-right: 0;
    }
  }
}

.moderated {
  margin: 2em 0;

  &-message {
    @include display(flex);
    @include align-items(center);
    padding: .5em 0;
    border: 0 solid #9B9B9B;
    border-top-width: 2px;

    &:last-child {
      border-bottom-width: 2px;
    }
  }

  .time {
    margin-right: 2em;
    font-weight: 300;
    color: #979797;
  }

  .body {
    width: 100%;
    color: #5A5A5A;
  }

  .button {
    font-size: .5em;
  }
}
