$projector-background: #005DAB;
$dark-text: #353535;

.projector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 3em;

  &-header {
    @include display(flex);
    @include align-items(flex-end);
    padding: .5em;
    background: white;

    .logo {
      max-height: 4em;
      max-width: 4em;
    }

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }

  }

  &-cta {
    @include flex(1);
    padding: 0 .5em;
    text-align: center;

    &-prefix {
      font-size: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    &-phone {
      font-size: 1.5em;
      line-height: .75em;
      margin-top: .1em;
      margin-bottom: 0;
      color: $dark-text;
      text-shadow: 0 1px 1px rgba(black, .5);

      @media (min-width: 1024px) {
        font-size: 1.7em;
      }

      @media (min-width: 1100px) {
        font-size: 2em;
      }

      @media (min-width: 1280px) {
        font-size: 2.5em;
      }
    }
  }

  &-body {
    height: 100%;
    padding: 1em;
    background: $projector-background;
    box-shadow: inset 0 2px 5px rgba(black, .5);
  }

  .message {
    font-size: .65em;
    margin-bottom: .75em;
    padding: .75em;
    border-radius: 8px;

    color: $dark-text;
    border: 1px solid #D8D8D8;
    background: white;

    text-shadow: 0 1px 1px rgba(black, .15);
    box-shadow: 0 2px 4px rgba(black, .5);

  }
}
