<div class="container">
  <header class="main-header">
    <h2 class="cs-faux-logo">CS</h2>
    <nav class="main-nav">
      <ul>
        <li>Events</li>
        <li>Users</li>
        <li>Logout</li>
      </ul>
    </nav>
  </header>
  <header>
    <h1>{{event.settings.name}}</h1>
  </header>
  <div ng-if="moderating" class="moderator">
    <div class="moderator-body">
      <p class="text">
        {{moderating.body}}
      </p>
    </div>
    <footer class="moderator-footer">
      <span class="metadata">
        {{moderating.from}} • {{moderating.receivedAt | date:'h:mma' | lowercase}}
      </span>
      <div class="action-buttons">
        <!-- <button ng-click=""><i class="icon-pencil"></i></button> -->
        <button class="button button-round" ng-click="moderate(moderating, false)"><i class="icon-times"></i></button>
        <button class="button button-round" ng-click="moderate(moderating, true)"><i class="icon-check"></i></button>
    </footer>
  </div>
  <a href="#" ng-click="log.toggle()">
    View
      <span ng-show="log.shown"> hidden messages</span>
      <span ng-hide="log.shown"> shown messages</span>
  </a>
  <div class="moderated" ng-show="log.shown">
    <div class="moderated-message" ng-repeat="message in shown | orderBy:'moderatedAt':true">
      <span class="time">{{message.receivedAt | date:'h:mma' | lowercase}}</span>
      <span class="body">{{message.body}}</span>
      <div class="action-buttons">
        <button class="button button-round" ng-click="hide(message)"><i class="icon-times"></i></button>
      </div>
    </div>
  </div>
  <div class="moderated" ng-hide="log.shown">
    <div class="moderated-message" ng-repeat="message in hidden | orderBy:'moderatedAt':true">
      <span class="time">{{message.receivedAt | date:'h:mma' | lowercase}}</span>
      <span class="body">{{message.body}}</span>
      <div class="action-buttons">
        <button class="button button-round" ng-click="show(message)"><i class="icon-check"></i></button>
      </div>
    </div>
  </div>
</div>
