<div class="projector">
  <header class="projector-header">
    <div class="logo">
      <img ng-src="{{event.settings.logo}}"/>
    </div>
    <div class="projector-cta">
      <h2 class="projector-cta-prefix">Text Comments To</h2>
      <h1 class="projector-cta-phone">{{event.settings.phone}}</h1>
    </div>
    <div class="logo">
      <img ng-src="{{event.settings.logo}}"/>
    </div>
  </header>
  <main class="projector-body">
    <ul class="messages">
      <li class="message" ng-repeat="message in messages">{{message.body}}</li>
    </ul>
  </main>
</div>
